<%- include ('partials/header') %>

<%- include ('partials/menu') %>

<main>
    <div class="categories__container">

    <% tags.forEach((tag) => { %>
        <a href="/categories/<%= tag.name %>">
            <div class="categories__item manga__category__<%= tag.name %>">
                <%= tag.name %>
            </div>
        </a>
   <% }); %>

    </div>
</main>
</body>

</html>