
<%- include ('partials/header') %>

<%- include ('partials/menu') %>
    <main>
            <div class="mangaDetail__container">
                <div>
                    <img class="mangaDetail__img" src="<%= bdDetail.image%>">
                </div>
                <!-- //le tableau Tags que j'ai reçu sur ma requete Bd -->
                <div class="mangaDetail_rigth">
                    <ul class="mangaDetail__category-liste">
                        <% bdDetail.tags.forEach((tag)=> {%>
                            <li class="manga__category__<%= tag.name%>">
                                <%= tag.name%>
                            </li>
                        <% });%>
                    </ul>
                    <!-- -> -->

                    <p>
                        <span class="mangaDetail__title"> Title : </span>
                        <%= bdDetail.title%>
                    </p>
                    <p>
                        <span class="mangaDetail__title"> Foreign title : </span>
                        <%= bdDetail.original_title%>
                    </p>
                    <p>
                        <span class="mangaDetail__title"> Format : </span>
                        <%= bdDetail.format%>
                    </p>
                    <p>
                        <span class="mangaDetail__title"> Status : </span>
                        <%= bdDetail.status%>
                    </p>
                    <div class="mangaDetail-rating" id="bd-<%= bdDetail.id%>">
                        <ion-icon id="star-1" class="stars" name="star-outline"></ion-icon>
                        <ion-icon id="star-2" class="stars" name="star-outline"></ion-icon>
                        <ion-icon id="star-3" class="stars" name="star-outline"></ion-icon>
                        <ion-icon id="star-4" class="stars" name="star-outline"></ion-icon>
                        <ion-icon id="star-5" class="stars" name="star-outline"></ion-icon>
                    </div>
                </div>
            </div>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <%- include ('partials/footer') %>

